<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs%>
</head>

<body>

<% include ../partials/header.ejs%>


<div class="container">

    <main>
        <%- body %>
    </main>
    
</div>

<% include ../partials/footer.ejs%>

</body>
</html>